<!DOCTYPE html>
<html lang="es">
<%- include('./layouts/head') %>
<script src="/js/acumular.js"></script>
<script src="/js/dark-mode.js"></script>
    <body class="bg-ligth">
        <div class="container mt-5" id="contenedores">
            <%- include('./layouts/switch') %>
            <div class="row justify-content-center">
                <h1><center>Horarios UPIITA (Telematica)</center></h1>
                <div class="col-md-6">
                    <% let materia = "" %>
                    <!-- Formulario para seleccionar una materia -->
                    <form action="/materia" method="get" class="mb-3">
                        <label for="materiaSelect">Selecciona una materia:</label>
                        <div class="input-group" id="barraSeleccion">
                            <select id="materiaSelect" name="materia" class="form-control">
                                <% materias.forEach(materia => { %>
                                    <option value="<%= materia %>"><%= materia %></option>
                                <% }) %>
                            </select>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">Buscar</button>
                            </div>
                        </div>
                    </form>
                    <!-- Área para mostrar y eliminar las materias seleccionadas -->
                    <div id="materiasSeleccionadas"></div>
                    <br>
                    <!-- Formulario para seleccionar un profesor -->
                    <form action="/profesor" method="get">
                        <label for="profesorSelect">Selecciona un profesor:</label>
                        <div class="input-group" id="barraSeleccion">
                            <select id="profesorSelect" name="profesor" class="form-control">
                                <% profesores.forEach(profesor => { %>
                                    <option value="<%= profesor %>"><%= profesor %></option>
                                <% }) %>
                            </select>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">Buscar</button>
                            </div>
                        </div>
                    </form>
                    <br>
                    <!-- Área para mostrar y eliminar los profesores seleccionados -->
                    <div id="profesoresSeleccionados"></div>
                </div>
            </div>
        </div>
        <%- include('./layouts/footer', { currentYear: new Date().getFullYear() }) %>
    </body>
</html>